.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --decor-color: #353430;
  --decor-rgba: rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;
  --main-title-shadow: #ff0070;
  --title-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;

  .header__decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --decor-color: #353430;
    --decor-rgba: rgba(50, 49, 45, 0.4);
    --main-title-color: #ffc2e6;
    --main-title-shadow: #ff0070;
    --title-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
  }

  .page.theme_auto {
    .header__decor {
      display: none;
    }
  }
}

@media (width <= 768px) {
  @media (prefers-color-scheme: light) {
    .page.theme_auto {
      --main-title-shadow: #ff8dcb;
    }
  }
  
  .page.theme_light {
    --main-title-shadow: #ff8dcb;
  }
}
